@import '../../../scss/values.scss';

.button {
  padding: 16px;
  background-color: $white;
  border: $numpadBorder;
  border-radius: $numpadBorderRadius;
  font-size: 14px;
  line-height: 15px;
  font-weight: 500;
  cursor: pointer;
  box-sizing: border-box;
  height: 48px;

  &:hover {
    border: 2px solid $purple;
  }
}