@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  font-family: 'Inter', sans-serif;
  display: grid;
  grid-template-columns: repeat(2, 243px);
  gap: 60px;
  width: 540px;
}

.rightPart, .leftPart {
  display: grid;
  grid-template-rows: 38px 448px;
  gap: 30px;
  width: 100%;
}

button {
  font-family: 'Inter', sans-serif;
}
