@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 540px;
}

button {
  font-family: 'Inter', sans-serif;
}
