$grey: #E2E3E5;
$grey-2: #F3F4F6;
$grey-3: #C4C4C4;
$grey-4: #6B7280;
$white: #FFFFFF;
$black: #000000;
$black-2: #111827;
$black-3: #4D5562;
$purple: #5D5FEF;
$lightBlue: #F0F9FF;

$numpadGap: 8px;
$numpadPadding: 4px;
$numpadBorder: 1px solid $grey;
$numpadBorderRadius: 6px;
$numpadShadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06)